<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Motorcycle Bubble Popping Game</title>
    <link href="/stylesheets/global.css" rel="stylesheet">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <h1>Motorycle Bubble Popping Game</h1>
        <p>Simple game popping bubbles made out of pictures of motorcycles</p>
        <p><a class="btn btn-primary btn-lg js-start-game" href="#" role="button">Start Game »</a></p>
    </div>
</div>

<div class="container-fluid">
    {{{body}}}
</div>

<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/bower_components/handlebars/handlebars.min.js"></script>
<script src="/javascripts/global.js"></script>
</body>
</html>