<div class="row">

    <div class="col-md-7">
        <canvas id="canvasBubbles" width="750" height="600">Canvas not supported</canvas>
    </div>

    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Stats</div>
                    <div class="panel-body">
                        <div class="btn-group btn-group-lg" role="group" aria-label="...">
                            <button type="button" class="btn btn-success js-new-game">New Game</button>
                            <button type="button" class="btn btn-danger js-end-game">End Game</button>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Popped: <span id="js-popped-bubbles-text">0</span></li>
                        <li class="list-group-item">Missed: <span id="js-missed-bubbles-text">0</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{#each result.videos}}
                    <a href="#" class="js-choose-bubble-image">
                        <img class="bubble-thumb" src="{{ thumbnail }}" alt="{{ title }}">
                    </a>
                {{/each}}
            </div>
        </div>
    </div>

</div>